* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: auto;
    margin: auto;
    background-color: aqua;
}

header h1 {
    width: 10%;
    height: 100%;
    margin-left: 10%;
    font-weight: bold;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 70%;
    height: 100%;
    margin-right: 10%;
    list-style: none;
}
header ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vw;
    margin: auto;
    text-align: center;
    list-style: none;
}

header ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
header h1 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

header ul li a:hover {
    color: #fff;
    background-color: blue;
    opacity: 0.5; 
    cursor: pointer;
}
header h1 a:hover {
    color: #fff;
    background-color: blue;
    opacity: 0.5; 
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    align-items:center;
    width: 99vw;
    height: 50vw;
}

main h1 {
    width: 40vw;
    text-align: center;

}

main div div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items:flex-start;
    width: 70vw; 
    margin: 30px 0;
      
}
/* main div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60% ;
    height: 80%; */
}
main div div p {  
    width: 10w;
    height: 50vh
}
main div div ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start ;
    margin: 20px;
    list-style: none;
    height: 100%;
}
main div div ul li{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
    background-color: bisque;
    margin: 20px;
}

main div div ul li img{
    width: 20%;
    height: 100%;
}
body main div div ul li img {
    object-fit: contain;
}